#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Stretch the root element to at least the height of the viewport */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  flex-grow: 1; /* Grow to take up all available space not used by header and footer */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Branding Styles */
.header-branding {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.header-branding a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.header-branding img {
  height: 50px;
  width: auto;
  margin-right: 1em;
  border-radius: 50%;
}

.header-title h1,
.header-title p {
  margin: 0;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  flex-grow: 1;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: #04c2c9;
}

/* Section Styles */
section {
  padding: 2em 5%;
}

#portfolio .portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

#portfolio .portfolio-item img {
  width: 100%;
  max-width: 300px; /* Limit the image width */
  height: auto;
  border-radius: 8px;
}

#portfolio .portfolio-item h3 {
  color: #333;
  margin-top: 1em;
}

#portfolio .portfolio-item p {
  color: #666;
  text-align: center;
}

#portfolio .portfolio-item a {
  color: #04c2c9;
  text-decoration: none;
  margin-top: 1em;
}

/* Contact Section Styles */
#contact {
  background-color: #f8f9fa; /* Light background for the contact area */
  padding: 4em 0; /* More vertical padding */
}

#contact h2 {
  color: #333; /* Set the color to ensure visibility */
  text-align: center; /* Centers the heading text */
  margin-bottom: 1em; /* Adds space below the heading */
}

#contact form {
  max-width: 500px;
  background: white; /* Background color for form */
  padding: 2em; /* Padding around the form */
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Soft shadow for form */
  border-radius: 8px; /* Rounded corners for form */
}

#contact label {
  display: block;
  margin-bottom: 0.5em;
  color: #333; /* Darker label color for contrast */
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 0.8em; /* Larger padding for input fields */
  margin-bottom: 1em;
  border: 1px solid #ccc; /* Subtle border for inputs */
  border-radius: 4px; /* Consistent rounded corners */
  box-sizing: border-box; /* Box sizing to include padding in width */
}

#contact button {
  width: 100%; /* Full width button */
  padding: 1em; /* Larger padding for button */
  background-color: #04c2c9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

#contact button:hover {
  background-color: #038c9a; /* Slightly darker hover state */
}

#confirmationMessage {
  display: block; /* Change this as per your state if it's controlled by React state */
  padding: 1em;
  margin-top: 1em; /* Spacing above the message */
  background-color: #e7f5ff; /* A light blue background for visibility */
  color: #31708f; /* A color that contrasts well with the light blue background */
  border: 1px solid #bce8f1; /* A subtle border that complements the background */
  border-radius: 4px; /* Rounded corners for the message bubble */
  text-align: center;
}

/* Social Links Section */
.social-links {
  padding: 1em 0; /* Less vertical padding */
  background-color: #333; /* Dark background for social links area */
  color: white;
}

.social-links div {
  /* Updated selector for direct child div of social-links section */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-link {
  margin: 0.5em; /* Vertical and horizontal margin for each icon */
  transition: transform 0.3s ease;
}

.social-link svg {
  fill: #ffffff; /* White color icons for visibility */
  width: 50px; /* Size of the icons */
  height: 50px;
}

.social-link:hover svg {
  transform: translateY(-5px); /* Moves icon up slightly on hover */
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: auto; /* Push the footer to the bottom of the layout */
}

footer p {
  margin: 0;
}

/* About Section Styles */
#about {
  background-color: #f4f4f4; /* A light grey background */
  border-radius: 8px;
  padding: 2em;
  margin: 2em auto; /* Center the about section */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* A subtle shadow */
  text-align: left; /* Align text to the left for about section */
}

#about h2 {
  color: #333;
  margin-bottom: 0.5em;
}

#about h3 {
  color: #333; /* Dark grey for better visibility */
}

#about p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
}

#about .skills-list {
  list-style-type: none; /* Removes the default list bullet */
  padding: 0;
}

#about .skills-list li {
  background-color: #fff;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 4px;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  header {
    padding: 1.5em 0;
  }

  .social-link {
    margin: 0 10px;
    /* Adjust the size of the icons on smaller screens if necessary */
    svg {
      height: 40px;
      width: 40px;
    }
  }

  #about {
    margin: 2em 1em; /* Adjust margins for smaller screens */
  }

  .header-branding {
    margin-left: 0.5em;
  }

  .header-branding img {
    height: 40px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* Portfolio Styles */
  #portfolio {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .portfolio-item {
    margin-bottom: 1em;
  }

  #contact form {
    width: calc(100% - 40px); /* Full width minus some padding */
    margin: 20px; /* Give some space around the form */
  }
}
